/* 사이드바 배경 색, 너비 */
#sidebar {
    background-color: #baa491; 
    width: 300px; 
  }


  /* 사이드바 내 글씨에 마우스를 올렸을 때 글씨 색 변경 */
  #sidebar .nav-link:hover {
    color: rgb(56, 49, 41); 
  }

  /*네비바 서치버튼색*/
  .nbSearch {color:#4f3f31;
    border-color: #4f3f31;}

  /*네비바 서치버튼색 - hover*/
  .nbSearch:hover {color:bisque;
    background-color: #4f3f31;
    border-color: #4f3f31;}
    
  /*네비바 서치버튼색 - active*/
  .nbSearch:active {color:bisque !important;
    background-color: #4f3f31 !important;
    border-color: #4f3f31 !important;}

  /* 본문의 내용이 네비바와 겹치지 않게 내리기 */
  body {margin-top: 65px;}
  
             