
/* 본문 글씨체 학교안심 우주 */
body {
    font-family: "IBM Plex Sans KR", serif;
    font-weight: 300;
    font-style: normal;
  }
  

/* 본문 전체---------------------------------*/
body{margin-top: 86px !important;}

/* 전체 스크롤바 꾸밈 */
body {overflow-x: hidden;}
body::-webkit-scrollbar {
    
    width: 20px;
    }


body::-webkit-scrollbar-track {
    background: #f7f6f4;
    border-radius: 0px;
    height: 2px;
    }

body::-webkit-scrollbar-thumb {
    background: #5739164c;
    border-radius: 0px;
    }

      /*네비바 서치버튼색*/
  .nbSearch {color:#4f3f31;
    border-color: #4f3f31;}

  /*네비바 서치버튼색 - hover*/
  .nbSearch:hover {color:bisque;
    background-color: #4f3f31;
    border-color: #4f3f31;}
    
  /*네비바 서치버튼색 - active*/
  .nbSearch:active {color:bisque !important;
    background-color: #4f3f31 !important;
    border-color: #4f3f31 !important;}


    /* 활성화 색*/
    .activenb {
        color: #000000; 
        font-weight: bold;
      }

/* 미니네비-------------------------------------------*/

    .nbcatswuN {
        font-family: "Bagel Fat One", system-ui;
        font-weight: 400;
        font-style: normal;
    }
    
    .nbcatswuN .nav-link:hover, 
    .nbcatswuN .nav-link.active {color:#2e251d !important;}

 /* 본문내용 -----------------------------------------------------------------------------------------------------------------*/
 
    /*섹션 1-----------------------------------------------------------------------------------*/
    /*스크롤스파이 스크롤이동 위치 조절*/
    section {scroll-margin-top: 86px;}

    .csnAa {font-family: "Bagel Fat One", system-ui;
        font-weight: 400;
        font-style: normal;
        font-size:60px;
        line-height: 1.1;
        }

    .csnAb{padding-top:2vw;
           padding-bottom: 2vw;
           padding-left: 1vw; word-break: keep-all;
           text-align:justify;
           text-align-last: left;}

    .csnAc{padding-top: 10px;
        font-size:large;
        position: relative;}
    
    .csnEb {
    border:3px solid #45392e; 
    background-color: #ffffff;
    border-radius: 15px; 
    transform:translateX(center);
    position: auto;
    width: 100%;
    height: 500px;
    aspect-ratio: 1;
    margin-top: 2vw;
    margin-bottom: 3vw;
    margin-right: 2vw;
    padding: 10px;
    }

    /* SNS 연결 (작은화면)*/
    .csnAsb {color: white;  z-index: 10;
      }
    
        /* 반응형 설정 */
        @media (max-width: 991px) {
            .csnAsb {
                position: relative;
                margin-bottom: 4vw;
                text-align: center;
                width: 100%;
            }
        }
        
        @media (min-width: 992px) {
            .csnAsb {
                display: none;
            }
        }


       /* SNS 연결 (큰화면)*/
    .csnAsu {color: white;  z-index: 10;
         }
    
        /* 반응형 설정 */
        @media (max-width: 991px) {
            .csnAsu {
                display: none;
            }
        }
        
        @media (min-width: 992px) {
            .csnAsu {
                position: relative;
                margin-top: 25px;
                text-align: center;
                width: 100%;
                transform:translateX(-10px);
            }
        }

        @media (min-width: 1000px) {
            .csnAsu {margin-top: 30px;}}

            @media (min-width: 1400px) {
                .csnAsu {margin-top: 60px;}}


        /*인스타그램 연결 버튼 css*/
        .csnAss {padding-top: 15px; padding-bottom: 15px;}
        .instab {border: none !important;
                 padding-left: 27px !important;
                 padding-right: 27px !important;
                 background: linear-gradient(to bottom, #5a51d8ee,  #e1306be8, #ffb752)!important;}

                 .instab:hover, .instab:active {border: none !important;
                    padding-left: 27px !important;
                    padding-right: 27px !important;
                    background: linear-gradient(to bottom, #5a51d8,  #e1306b, #ffb752)!important;}


        /*버튼 꾸밈*/
        .csnAss .btn{box-shadow: 3px 2px 1px #726151 !important;}

     /*구분선1*/

    .catpaww1{width:30px;
            transform: translateY(-5px) rotate(92deg) !important;
            transform-origin: center;
            pointer-events: none;
            position: absolute;}
        
    .catpaww2{width:30px;
        transform: translateX(50px) translateY(-25px) rotate(95deg) !important;
        transform-origin: center;
        pointer-events: none;
        position: absolute;}

    .catpaww3{width:30px;
        transform: translateX(100px) translateY(-5px) rotate(92deg) !important;
        transform-origin: center;
        pointer-events: none;
        position: absolute;}

    .catpaww4{width:30px;
        transform: translateX(150px) translateY(-25px) rotate(95deg) !important;
        transform-origin: center;
        pointer-events: none;
        position: absolute;}
                             

 /*섹션 2-----------------------------------------------------------------------------------*/

  

.csnBb {font-family: "Bagel Fat One", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size:60px;
    line-height: 1.1;
    }

.csnBa{
        word-break: keep-all;
        margin-top: 2vw;
        margin-bottom: 2vw;
        margin-right: 2vw;
        width:100%;}


.csnBc{padding-top: 10px;
    font-size:large;
    position: relative;}

  /*반응형 설정*/
  @media(min-width:992px){
    .csnBa{text-align:right;}
    .csnBc{text-align:justify;
           text-align-last: right;}}

  @media(max-width:991px){
    .csnBa{text-align:left;}
    .csnBc{transform: none;}}

/*캐러셀*/
.csnBcs{margin-top:2vw;
        margin-bottom: 30px;
        
        padding: 10px; padding-left: 1vw;
        top: 50%;}


        /*좌우버튼*/
        .carousel-control-prev{transform: translateX(0px);}

        .carousel-control-prev i,
        .carousel-control-next i {
            color: #533c29da;
            font-size: 18px; 
          }
    
        .carousel-control-next {
            transform: translateX(0px);}
           
            .carousel-control-prev,
            .carousel-control-next{   
            background-color: #ffffff !important; 
            border-radius: 50%; 
            width: 40px; 
            height: 40px; 
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            top: 50%;
            margin: 10px;
            opacity: 0.7;
          }
          
          
    .carousel-indicators {transform: translateY(6px);}      
    .carousel-inner {position: relative;
        min-height: 400px;
        display: flex;
        justify-content: start; 
        /* 캐러셀이라 그런지 justify-content:center;로 두니까 페이지 사이에 걸쳐서 설정됨.
         start로 두어야함*/
        align-items: center;}
    
    .carousel-caption {background-color: #00000042; 
        width: 100%; left: 0%; word-break: keep-all; 
        transform: translateY(20px);}




.csnBcsu{display: none;}
        @media(max-width:991px){
            .csnBcsu{display:block;
            margin-bottom: 44px;}
        }

        @media(max-width:991px){
            .csnBcs{display:none;}
        }




.paw2 {transform: rotate(180deg);}
    
/*섹션 3------------------------------------------------------------------------------*/
        
.csnCb {font-family: "Bagel Fat One", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size:60px;
    line-height: 1.1;
    }

.csnCa {padding-top:2vw;
       padding-bottom: 2vw;
       padding-left: 1vw; word-break: keep-all;
       text-align:justify;
       text-align-last: left;
        margin-bottom: 30px;}

.csnCc {padding-top: 10px;
    font-size:large;
    position: relative;
    }  

.csnCac {border:3px solid #45392e; 
    background-color: #45392e;
    border-radius: 9px;
    position: auto;
    margin-top: 3vw;
    margin-bottom: 30px;
    }


/*아코디언*/

    .accordion-button {background-color: #e0d1bd;
    border: none;}
    .accordion-button:not(.collapsed) {
        background-color: #e0d1bd;
        color: #000000;}
    .accordion-button:focus{
        outline:none;
        box-shadow: 0 3px 6px #cabba8;
    }

    .accordion-body{
        background-color: #ecdecb8c;
        border: none;
    }
    .accordion {
        --bs-accordion-border-color: #ecdecbc2 !important;
        --bs-accordion-border-width: 3px !important;
    }
    .accordion-button {font-family: "Bagel Fat One", system-ui;
        font-weight: 300;
        font-style: normal;
        font-size:24px;
        line-height: 1.1;
        color: #45392e;
     }

/* top button 꾸밈 -----------------------------------------------------*/
    /* 크기 설정 */
    .top-button {background-color: #ecdecb;
        color: black;
        z-index: 1000;
        justify-content: center;
        align-items: center;
        padding: 5px;
        aspect-ratio: 1;
        }

    /* 색깔 설정 - 반응형 */
    .top-button:hover {background-color: #e0d1bd;
        color: black;}

    .top-button:active {background-color: #e0d1bd !important;
        color: black !important;}



/* 최하단 안내구역 --------------------------------------------------*/
    /* 배경 영역 */
    .page-under {background-color: #4f3f31;
        width: 100vw;
        position: relative;
        box-sizing: border-box;
        }

    /* 글씨 크기 font-weight: bold; */
    .page-under {font-size: small;
        color:bisque; 
        }   

    /* 링크 바로가기 서식꾸밈 */
    .under-link{color: bisque;
        text-decoration: none;}
    
    .under-link:hover{color:#ffe4c4b4;}

    footer{margin-top: auto; position:relative;}
    