/* 본문 전체---------------------------------*/
body{margin-top: 86px;}

/* 전체 스크롤바 꾸밈 */
body {overflow-x: hidden;}
body::-webkit-scrollbar {
    
    width: 20px;
    }


body::-webkit-scrollbar-track {
    background: #f7f6f4;
    border-radius: 0px;
    height: 2px;
    }

body::-webkit-scrollbar-thumb {
    background: #5739164c;
    border-radius: 0px;
    }

      /*네비바 서치버튼색*/
  .nbSearch {color:#4f3f31;
    border-color: #4f3f31;}

  /*네비바 서치버튼색 - hover*/
  .nbSearch:hover {color:bisque;
    background-color: #4f3f31;
    border-color: #4f3f31;}
    
  /*네비바 서치버튼색 - active*/
  .nbSearch:active {color:bisque !important;
    background-color: #4f3f31 !important;
    border-color: #4f3f31 !important;}
    
    /* 활성화 색*/
    .activenb {
        color: #000000; 
        font-weight: bold;
      }

      section {scroll-margin-top: 86px;}

/* 프로필 탭-------------------------------------------*/

.catname {
    font-family: "Bagel Fat One", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
 

  .langcat {min-height: 600px;
    background-image:linear-gradient(#00000061, #00000061), url(images/IMG_2894.jpg);
    background-position: center;
    background-size: cover;
    background-image: 100vw;}

    .langcat2 {
        font-size: 66px;
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;
        background-color: #f0e8d9;
    }


    .catname .nav-link:hover, 
    .catname .nav-link.active {color:#2e251d !important;}


/* 섹션1 --------------*/
    

     .hbold {font-family: "Bagel Fat One", system-ui;
        font-size: 65px; color:#2e251d ;
        font-style: normal; position: relative;
        transform: translateY(-50%);
        text-align: center; top: 50%;
        padding: 20px;
        text-shadow: 3px 2px 2px #000000a2;
        } 

    .bgcat {transform: none;}
    @media(min-width: 1400px){ .bgcat {transform:translateY(45px) scale(1.2)}}
    .abcat .container { font-size: 20px;
        background-image: linear-gradient(#ffffffd8, #ffffffd8), url(images/swucatbg1.png);
        background-size: 15%;
        background-position: center;}


     .cat-container {display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding: 20px;}

    .cat-member {text-align: center; }
    .cat-button {width: 120px;
        height: 120px;
        border-radius: 50%;
        border: none;
        background-color: #526350; 
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        box-shadow: 0 4px 6px #0000001a;
        cursor: pointer;
        transition: transform 0.3s, box-shadow 0.3s;}
    
        .cat-button:hover { transform: scale(1.1);
            box-shadow: 0 6px 10px #00000026;}

        .cat-image {width: 85%;
            height: 85%;
            aspect-ratio: 1;
            object-fit: cover;
            border-radius: 50%;}
        
        .cat-name {
            color:#2e251d; background-color: #ffffffa2;
            font-size: 20px;
            margin-top: 10px;
          }


    /*섹션2--------------------------------*/
    .scpf .container {
        height: 600px;}
        .scpfte {height: 600px;}
       
        
        .scpftext {
             color:#2e251d ;
            font-style: normal; position: relative;
            transform: translateY(-30%);
            text-align: center; top: 30%;
            padding: 20px; justify-content: center;
            border: 3px dashed #2e251d;
            border-radius: 20px;
            background-color: #ffffffb2;
            } 
    
        .scpftext .hccc {font-family: "Bagel Fat One", system-ui;
            font-size: 55px;}

        .htext {font-size:larger; word-break: keep-all;}

        b {font-weight: 600;}


    /*test*/
    .icon-row {position: absolute;
        
        justify-content: space-evenly;
        gap: 40px;  z-index: 1;
        transform: translateY(-180%) translateX(-50%);
        left: 50%; 
        
      }
      
      .icon-item {
        text-align: center;
      }
      
      .icon-item p {
        font-size: 20px;
        margin-bottom: 10px;
      }
      
      .icon {
        width: 50px;
        height: 50px;
        background-color: #ccc; 
        display: inline-block;
        border-radius: 50%;
        line-height: 50px;
        font-size: 16px;
        font-weight: bold;
        color: #000;
        text-align: center;
      }
    /*testend*/

    .bi-card-checklist:hover, .bi-chat-left-dots:hover {color: #645446f5 !important; ;}

/* top button 꾸밈 -----------------------------------------------------*/
    /* 크기 설정 */
    .top-button {background-color: #ecdecb;
        color: black;
        z-index: 1000;
        justify-content: center;
        align-items: center;
        padding: 5px;
        aspect-ratio: 1;
        
        }

    /* 색깔 설정 - 반응형 */
    .top-button:hover {background-color: #e0d1bd;
        color: black;}

    .top-button:active {background-color: #e0d1bd !important;
        color: black !important;}



/* 최하단 안내구역 --------------------------------------------------*/
    /* 배경 영역 */
    .page-under {background-color: #4f3f31;
        width: 100vw;
        position: relative;
        box-sizing: border-box;
        }

    /* 글씨 크기 font-weight: bold; */
    .page-under {font-size: small;
        color:bisque; 
        }   

    /* 링크 바로가기 서식꾸밈 */
    .under-link{color: bisque;
        text-decoration: none;}
    
    .under-link:hover{color:#ffe4c4b4;}
    