body {@import: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-family: 'HakgyoansimWoojuR';
    font-weight: normal;
    font-style: normal;
}